

.slide-banner-1,
.slide-banner-2,
.slide-banner-3 {
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 600px;
}

/* Cada fondo diferente */
.slide-banner-1 {
  background-image: url('/images/slider/banner-1.jpg');
}

.slide-banner-2 {
  background-image: url('/images/slider/banner-4.jpg');
}

.slide-banner-3 {
  background-image: url('/images/slider/banner-5.jpg');
}

/* Contenedor responsivo */
.video-responsive-container {
  width: 100%;
}

/* Ajustes específicos para móvil */
@media (max-width: 768px) {
  .video-responsive-container {
    paddingBottom: '75%'; /* 4:3 para mejor visualización en vertical */
    margin: '15px 0'; /* Espaciado vertical */
    borderRadius: '0.5rem'; /* Bordes más suaves */
  }
  
  .video-iframe {
    transform: scale(1.05); /* Pequeño zoom para aprovechar espacio */
  }
}

/* Imagen Acerca de Póliza de Rentas */
